<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About iResume</ion-title>
    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <ion-card style="box-shadow: none;">

    <ion-card-header>
      <ion-card-title>iResume</ion-card-title>
      <ion-card-subtitle>
        <p>This application is developed based on below tools.This application is entirely my enthusiasm to 
          learn new techologies,frameworks and concepts.
        </p>
        <p>Throughout my career, I make it a priority to develop new skill set. As the workforce advances, i need to make sure my skills are up to par when you enter the job market. Job requirements continue to change each day, so I make sure i am doing my best to develop new skills.
          This application is developed based on below tools.This application is entirely my enthusiasm to 
          learn new techologies,frameworks and concepts.This application is developed based on below tools.This application is entirely my enthusiasm to 
          learn new techologies,frameworks and concepts.This application is developed based on below tools.This application is entirely my enthusiasm to 
          learn new techologies,frameworks and concepts.
        </p>
      </ion-card-subtitle>
   </ion-card-header>

    <ion-card-content>
      <ion-col>
        <ion-card>
          <ion-item class="ion-activated">
            <ion-label>Angular 8</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Ionic Frame Work</ion-label>
          </ion-item>
          <ion-item class="ion-activated">
            <ion-label>Node</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>GitHub</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Amazon Web Services</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-card-content>

  </ion-card>
</ion-content>