<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Techonologies</ion-title>

    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead">Operating System	</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" > TWindows XP, Windows Vista, Windows 7,Windows 8, Windows 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead">Programming Languages</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" > Java,J2ee,Angular 7, React JS, Ejb,Hibernate, Spring Mvc,Struts 2.0,Web Service,Java Script,Jquery, Asp Net,SSIS,SSRS, Unix Shell Programming
      </p></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead" >Databases & Tools</ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" >Oracle,Mainframe Db2,Sql Server 2016,Ibm Db Studio,Toad,Putty,Ibm Rational Application Server, Jboss Application Server, Tomcat Application Server
      </p> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-button-on-sharp" slot="start"></ion-icon>
      <ion-label class="cardHead" >Other </ion-label>
    </ion-item>

    <ion-card-content>
      <p class="cardContent" >Ireport 3.0.1,Jreport,Soap Ui 4.0.1, Open Text Exceed,Win Cvs,Virtual Safe Source, Rational Clearcase,Github,Jenkins,TFS,  Teamcity, Perfecto Mobile Access
      </p></ion-card-content>
  </ion-card>


</ion-grid>
</ion-content>