<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Personal Information</ion-card-subtitle>
            
            <ion-card-title>Mohan Kumar Kasetty</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            I had 18 months of experience in Software Technology industry in Healthcare and Information & Media domain
            including 14 months of experience in Cognizant. He has firm grasp of design patterns, modeling and
            development.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <img src="../../../assets/images/aetna_building_2.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Work</ion-card-subtitle>
            <ion-card-title>Phoenix ,Az</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
            health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
            employers, individuals, college students, part-time and hourly workers, and government employees, and the
            community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
            information and helpful resources to work for our members to help them make better-informed decisions about
            their health care.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content> -->



<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Home</ion-title>

    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
   
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-item >
            <ion-icon  name="newspaper-outline" slot="start"></ion-icon>
            <ion-label class="cardHead">Experience</ion-label>
            <ion-button slot="end" fill="outline" [routerLink]="['/menu/workExperience']">View</ion-button>
          </ion-item>

          <ion-card-content class="cardContent">
            This is content, without any paragraph or header tags,
            within an ion-card-content element.  Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
            health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
            employers, individuals, college students, part-time and hourly workers, and government employees, and the
            community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
            information and helpful resources to work for our members to help them make better-informed decisions about
            their health care.  Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
            health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
            employers, individuals, college students, part-time and hourly workers, and government employees, and the
            community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
            information and helpful resources to work for our members to help them make better-informed decisions about
            their health care.
          </ion-card-content>
        </ion-card><ion-card>
          <ion-item>
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label class="cardHead">Personal Information</ion-label>
            <ion-button slot="end" fill="outline" [routerLink]="['/menu/myProfile']">View</ion-button>
           
          </ion-item>

          <ion-card-content class="cardContent">
            This is content, without any paragraph or header tags,
            within an ion-card-content element.  Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
            health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
            employers, individuals, college students, part-time and hourly workers, and government employees, and the
            community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
            information and helpful resources to work for our members to work for our members to help.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6">
        <ion-card>
          <img src="../../../assets/images/aetna_building_2.jpg" />
          <ion-card-header>
            <ion-card-subtitle class="cardHead">Work</ion-card-subtitle>
            <ion-card-title>Phoenix ,Az</ion-card-title>
          </ion-card-header>
          <ion-card-content class="cardContent">
            Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
            health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
            employers, individuals, college students, part-time and hourly workers, and government employees, and the
            community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
            information and helpful resources to work for our members to help them make better-informed decisions about
            their health care.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    
   
  </ion-grid>
</ion-content>