ion-toolbar{
    background-color: cadetblue;
    color: cadetblue;
    font-weight: bold;
 }
 
 ion-icon {
     cursor: pointer;
   color: black;
   }
 
   ion-card:hover {
     transform: scale(1.025);
 //     background: #303030;
 //     border-bottom: 1px solid rgba(19,207,182,.77);
 //     border-right: 1px solid rgba(19,207,182,.77);
 //     border-color: rgba(19,207,182,.77);
        border-style:  #585c59 solid;
        box-shadow: 1px;
 //     border-width: 1px 5px 5px 1px;
 // border: 1px solid;
 //   padding: 10px;
 //   box-shadow: 5px 10px rgb(241, 238, 238);
 // }
 }
 
 .cardHead{
   color: cadetblue;
   font-weight: bold;
   //background-color: beige;
 }
 .cardContent{
   color: black;
   //background-color: beige;
 }
 .cardutileBGColor{
   background-color: beige;
 }
 ion-title{
   font-weight: bold;
 }
 .appColor{
 
   color: white;
 
       
   --ion-color-primary: #22A39F;
   --ion-color-primary-rgb: 34,163,159;
   --ion-color-primary-contrast: #ffffff;
   --ion-color-primary-contrast-rgb: 255,255,255;
   --ion-color-primary-shade: #1e8f8c;
   --ion-color-primary-tint: #38aca9;
   }
 
 