<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Clients</ion-title>

    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardHead" >Aetna</ion-card-title>
      <ion-card-subtitle>worked as  Application Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2 class="cardContentSubmenu">CLIENT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent">Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
        health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
        employers, individuals, college students, part-time and hourly workers, and government employees, and the
        community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
        information and helpful resources to work for our members to help them make better-informed decisions about
        their health care.
        Aetna work hard to improve health care in America. We want to make sure health care is affordable and of good
        quality for all. Aetna is the brand name for our products and services. In each state, Aetna’s products and
        services are provided by one or more of their subsidiary companies. Their subsidiary companies go by many
        different names
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardHead" >University of California Davis</ion-card-title>
      <ion-card-subtitle>worked as Application Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2 class="cardContentSubmenu">CLIENT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent">The University of California, Davis (UC Davis), is a public research university and land-grant University
        adjacent to Davis, California. The institution was founded as a branch in 1905 and became its own separate
        entity in 1959. Founded as primarily an agricultural campus, the university has expanded over the past century
        to include graduate and professional programs in medicine (which includes the UC Davis Medical Center), law,
        veterinary medicine, education, nursing, and business management, in addition to 90 research programs offered by
        UC Davis Graduate Studies. It is part of the University of California system and has the third-largest
        enrollment in the system.
        UC Davis has a program called Supply Chain Management to streamline the way the university receives invoices
        from suppliers and it could save your department money. The campus claims to be noted for its top-rated
        Agricultural and Resource Economics programs and the large Department of Animal Science through which students
        can study at the university's own on-campus dairy, meat-processing plant, equestrian facility, and experimental
        farm.

      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
