ion-avatar img  {
    width:100% !important;
    height : 100% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
    }

    ion-title{
      font-weight: bold;
    }
  
.appColor{

    color: white;
  
       
    --ion-color-primary: #22A39F;
    --ion-color-primary-rgb: 34,163,159;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #1e8f8c;
    --ion-color-primary-tint: #38aca9;
    }

    ion-avatar img{
      max-width: 60% !important;
      max-height: 70% !important;
    }
  
  