<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Me</ion-title>
    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Send an Email to Me</ion-label>
          </ion-item>
          <ion-card-content>
            <p>Send me your contact details and message or comments. You can also contact me through social media on ,
              or . If you believe there is any way I can improve this website, I will be happy to hear your suggestion.
              Thank you ...</p>
            <form id="sendEmailFrom" [formGroup]="sendEmailFrom" (ngSubmit)="onSendEmailFrom()">

              <ion-item>
                <ion-label position="floating">To</ion-label>
                <ion-input formControlName="to" placeholder='Mohan Kumar Kasetty' readonly></ion-input>
              </ion-item>

              <!-- <ion-item>
                <ion-label>From</ion-label>
                <ion-input type="text" formControlName="from"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Subject</ion-label>
                <ion-input type="text" formControlName="subject"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Message</ion-label>
                <ion-textarea formControlName="body"></ion-textarea>
              </ion-item> 
              <ion-item>
                <ion-label position="floating">From</ion-label>
                <ion-input formControlName="from"></ion-input>
              </ion-item>-->

              <ion-item>
                <ion-label floating>From</ion-label>
                <ion-input type="text"  formControlName="from" [class.error1]="!sendEmailFrom.controls.from.valid && sendEmailFrom.controls.from.dirty"></ion-input>
              </ion-item>
              <ion-item no-lines *ngIf="( sendEmailFrom.get('from').hasError('minlength') || sendEmailFrom.get('from').hasError('pattern') ||sendEmailFrom.get('from').hasError('required') ) && sendEmailFrom.get('from').touched">
                <div class="error" *ngIf="sendEmailFrom.get('from').hasError('required') && sendEmailFrom.get('from').touched">
                  Please input your Email
                </div>
                <div class="error" *ngIf="sendEmailFrom.get('from').hasError('pattern') && sendEmailFrom.get('from').touched">
                  Email address invalid
                </div>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Subject</ion-label>
                <ion-input formControlName="subject"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Message</ion-label>
                <ion-textarea formControlName="body"></ion-textarea>
              </ion-item>

              <ion-button class="ion-activatable ripple-parent primary appColor"  expand="block" type="submit">
                <!--ion-icon name="mail"></ion-icon>-->Send Email<ion-icon name="send"></ion-icon></ion-button>
              <!-- <ion-button class="ion-activatable ripple-parent" slot="end" type="submit" shape="round">Send Email</ion-button> -->
            </form>
          
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>