<ion-header>
  <ion-toolbar color="primary appColor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Work Experience</ion-title>
    <ion-avatar slot="end" size="small">
      <img src="../../../assets/images/mohan.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardHead" >Aetna</ion-card-title>
      <ion-card-subtitle>Application Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Project Title</td>
            <td>Medicaid Web Portal</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>04-01-2109 to Till date</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>Onsite (Phoenix, Arizona)</td>
          </tr>
          <tr>
            <td>Operating Systems </td>
            <td>Windows 10</td>
          </tr>
          <tr>
            <td>Programming Languages</td>
            <td>Java,J2ee,SQL Server 2016</td>
          </tr>
        </tbody>
      </table>
    </ion-card>
    <ion-card-content>
      <h2 class="cardContentSubmenu"> PROJECT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent"> Aetna Medicaid has begun an exciting initiative to create a new web site for providers, members, and health
        plan users. The primary business driver behind this effort is to provide web self-service capability for
        providers and members with the goal of driving increased efficiencies and reduced costs. Scope of the Project
        Includes Claims Status Search, Explanation of Benefits (EoB), Remittance Advice Search, Provider List & Detail,
        Member Eligibility Search, Authorization Search.
      </p>
      <br>

      <h2 class="cardContentSubmenu">CLIENT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent">Aetna Inc. - Is founded in 1853 in Hartford, Connecticut, Aetna is one of the nation's leading providers of
        health care, dental, pharmacy, group life, and disability insurance, and employee benefits. Aetna serves
        employers, individuals, college students, part-time and hourly workers, and government employees, and the
        community at large. Aetna is dedicated to helping people achieve health and financial security. Aetna put
        information and helpful resources to work for our members to help them make better-informed decisions about
        their health care.
        Aetna work hard to improve health care in America. We want to make sure health care is affordable and of good
        quality for all. Aetna is the brand name for our products and services. In each state, Aetna’s products and
        services are provided by one or more of their subsidiary companies. Their subsidiary companies go by many
        different names
      </p>
      <br>
      <h2 class="header cardContentSubmenu" >ROLES AND RESPONSIBILITIES: </h2>
      <p class="cardContentSubmenuContent">Mohan Kumar has worked as an Onsite Application Developer and is involved in Requirement
        gathering, analysis,
        coding, testing.
        Mohan Kumar is working with cross functional teams at customer environment to understand the project plan to
        roll out the different phases of Eligibility (member’s enrolment) application and Ancillary applications. He is
        interacting with different teams to understand business requirement, problem statement and provide solution.
        Mohan Kumar is involved in requirement analysis and preparation of technical specification for implementation of
        Medicaid web portal application. Also he is engaged in Designing and implementation of the multi plan support
        for enhancing the Medicaid web portal application for West Virginia using JAVA/J2EE technologies. Preparation of
        test data, test case document for unit testing and integration testing of Medicaid web portal application.
        Interaction with Production Services and Operations team on the maintenance and support of the system in
        production</p>

    </ion-card-content>
  </ion-card>

<br>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="cardHead" >University of California Davis</ion-card-title>
      <ion-card-subtitle>Application Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Project Title</td>
            <td>Aggie Buy Supply Chain Management</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>11/01/2018 – 03/10/2019</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>Onsite (Davis California)</td>
          </tr>
          <tr>
            <td>Operating Systems </td>
            <td>Windows 10</td>
          </tr>
          <tr>
            <td>Programming Languages</td>
            <td>Java,J2ee,React JS,Oracle SQL Developer</td>
          </tr>
        </tbody>
      </table>
    </ion-card>
    <ion-card-content>
      <h2 class="cardContentSubmenu"> PROJECT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent">Supply Chain Management is trusted partner in the process of obtaining goods and services for UC Davis. The
        goal is to deliver the most value for the university through internal services and external supplier
        partnerships. Here, you’ll find all the services provided by Business and Financial Services, Distribution and
        Logistics, Procurement & Contracting Services, Repro Graphics, and Travel & Entertainment.

      </p>
      <br>
      <h2 class="cardContentSubmenu">CLIENT DESCRIPTION: </h2>
      <p class="cardContentSubmenuContent">The University of California, Davis (UC Davis), is a public research university and land-grant University
        adjacent to Davis, California. The institution was founded as a branch in 1905 and became its own separate
        entity in 1959. Founded as primarily an agricultural campus, the university has expanded over the past century
        to include graduate and professional programs in medicine (which includes the UC Davis Medical Center), law,
        veterinary medicine, education, nursing, and business management, in addition to 90 research programs offered by
        UC Davis Graduate Studies. It is part of the University of California system and has the third-largest
        enrollment in the system.
        UC Davis has a program called Supply Chain Management to streamline the way the university receives invoices
        from suppliers and it could save your department money. The campus claims to be noted for its top-rated
        Agricultural and Resource Economics programs and the large Department of Animal Science through which students
        can study at the university's own on-campus dairy, meat-processing plant, equestrian facility, and experimental
        farm.

      </p>
      <br>
      <h2 class="header cardContentSubmenu" >ROLES AND RESPONSIBILITIES: </h2>
      <p class="cardContentSubmenuContent" >Mohan Kumar has worked as an onshore Team member and is involved in development, code review,
        UAT and Production support phases. Mohan Kumar is regularly interacting with client for development related
        activities and weekly for status update. He is also responsible for Production releases. Apart from technical
        responsibilities, he is involve in Project related activities like C2 coordinator and faced monthly audit for
        her project. Mohan Kumar is working with cross-functional teams at customer environment to understand the
        project plan</p>

    </ion-card-content>
  </ion-card>




</ion-content>